html body {
    padding-top: 0 !important
}

html body {
    padding-top: 1200px !important;
}


/* Small screens */
@media (max-width: 576px) {
    html body {
        padding-top: 1200px !important;
    }
}

/* Medium screens (around 540px by 720px) */
@media (min-width: 577px) and (max-width: 991px) {
    html body {
        padding-top: 1270px !important;
    }
}

/* Slightly larger screens (around 1024px by 1366px) */
@media (min-width: 992px) and (max-width: 1366px) {
    html body {
        padding-top: 1270px !important;
    }
}