html body {
    padding-top: 0 !important
}

html body {
    padding-top: 800px !important;
}

/* ===== HOME PAGE ===== */
/* Small screens */
@media (max-width: 576px) {
    html body {
        padding-top: 2100px !important;
    }
}

/* Medium screens (around 540px by 720px) */
@media (min-width: 577px) and (max-width: 991px) {
    html body {
        padding-top: 1300px !important;
    }
}

/* Slightly larger screens (around 1024px by 1366px) */
@media (min-width: 992px) and (max-width: 1366px) {
    html body {
        padding-top: 800px !important;
    }
}

.home-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full page scroll */
  }
  
  .home-header {
    /* position: sticky;
    top: 0; */
    background-color: #fff;
    z-index: 10;
    padding: 20px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .search-filter-container {
    /* position: sticky;
    top: 80px; assumes .home-header is ~80px tall */
    background-color: #fff;
    z-index: 9;
    padding: 10px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  /* Remove fixed height and scroll from here */
  .scrollable-events {
    padding: 16px;
  }
  